/* formatação da página */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

h1,
h2,
li {
    color: #111;
}

/* top bar */

.topBar {
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 5px solid #fd8a24;
}

/* header */

.container {
    max-width: 888px;
    margin: 0 auto;
    padding: 30px;
}

header h1 {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 0.67em
}

header h2 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0.75em
}

.autor {
    font-weight: bold;
    font-size: 0.8em;
}

.social-icons {
    margin-top: 10px;
}

.social-icons img {
    width: 20px;
    padding: 10px 10px 10px 0;
}

hr {
    margin: 10px 0;
}

/* main */

main {
    max-width: 648px;
    margin: 0 auto;
}

p {
    font-size: 20px;
    line-height: 32px;
}

a {
    text-decoration: none;
    color: #fd8a24;
    font-weight: bold;
}

.link {
    font-size: 20px;
    margin: 30px 0;
}

figure {
    margin: 40px 0;
    font-size: 12px;
}

figure img {
    width: 100%;
}

li {
    font-weight: bold;
    font-size: 24pt;
    list-style-position: inside;
    margin: 0.83em 0;
}

/* footer */

footer {
    background-color: #333;
    height: 100px;
}